@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

.neat-btn {
  position: relative;
  display: inline-flex;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;

  &__text {
    margin: 0.5em 1.5em;
  }

  &__icon {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.04);
    width: 2em;
    height: 100%;

    &--left {
      left: 0;

      & ~ .neat-btn__text {
        margin-left: 2.5em
      }
    }

    &--right {
      right: 0;

      & ~ .neat-btn__text {
        margin-right: 2.5em;
      }
    }
  }

  &__raised {
    color: $white;
    transition: all 0.2s;
    border-bottom: solid 0.3em rgba(0, 0, 0, 0.1);

    &:hover:enabled {
      transition: all 0.2s;
    }

    &:active:enabled {
      transform: translateY(0.3em);
      border-bottom: solid 0 rgba(0, 0, 0, 0);
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $light;
      border-bottom: solid 0.3em darken($color: $light, $amount: 12);
    }

    @each $name, $color in $colors {
      // Raised Button loop for NColors
      &--#{$name} {
        background-color: $color;
        border-bottom: solid 0.3em darken($color: $color, $amount: 12);

        &:hover:enabled {
          background-color: lighten($color: $color, $amount: 5);
          transition: all 0.2s;
        }

        &:active:enabled {
          transform: translateY(0.3em);
          border-bottom: solid 0 darken($color: $color, $amount: 0);
        }
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: darken($color: $light, $amount: 15);
    background-color: $light;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    transform: scale(0);
  }
  &:focus:not(:active)::after {
    @include clickAnimation();
  }
}
