@import "../../styles/variables.scss";
@import "../../styles/animations.scss";

.neat-btn {
  position: relative;
  display: inline-flex;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;

  &__text {
    margin: 0.5em 1.5em;
    transition: all 0.3s ease-in-out;

    &--none {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    width: 2em;
    height: 100%;

    &--left {
      left: 0;

      & ~ .neat-btn__text {
        margin-left: 2.5em;
      }
    }

    &--right {
      right: 0;

      & ~ .neat-btn__text {
        margin-right: 2.5em;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: darken($color: $light, $amount: 15);
    background-color: $light;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    transform: scale(0);
  }

  &:focus:not(:active)::after {
    @include clickAnimation();
  }
}

// Raised button default
.neat-btn-raised {
  color: $white;
  transition: all 0.2s;
  border-bottom: solid 0.3em rgba(0, 0, 0, 0.1);

  &--loading {
    transform: translateY(0.3em);
    border-bottom: solid 0 rgba(0, 0, 0, 0);
    transition: all 0.5s;
  }

  &:hover:enabled {
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.2s;
  }

  &:active:enabled {
    transform: translateY(0.3em);
    border-bottom: solid 0 rgba(0, 0, 0, 0);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $light;
    border-bottom: solid 0.3em darken($color: $light, $amount: 12);
  }

  // Raised Button loop for NColors
  @each $name, $color in $colors {
    &--#{$name} {
      background-color: $color;
      border-bottom: solid 0.3em darken($color: $color, $amount: 12);

      &:hover:enabled {
        background-color: lighten($color: $color, $amount: 5);
        transition: all 0.2s;
      }

      &:active:enabled {
        transform: translateY(0.3em);
        border-bottom: solid 0 darken($color: $color, $amount: 0);
      }

      &.neat-btn-raised--loading {
        transform: translateY(0.3em);
        background-color: darken($color: $color, $amount: 15);
        border-bottom: solid 0 darken($color: $color, $amount: 0);
        transition: all 0.5s;

        &:hover {
          background-color: darken($color: $color, $amount: 15);
        }
      }
    }
  }
}

.neat-btn-flat {
    color: $white;
    box-shadow: inset #ffffff00 0px 0px 0px 0px;
    transition: all 1s;

    &--loading {
      transition: all 1s;
    }
  
    &:hover:enabled {
      box-shadow: inset #00000075 1px 1px 3px 1px;
      // background-color: black;
      // transition: all 1s;
    }
  
    &:active:enabled {
      box-shadow: inset #00000075 1px 1px 3px 1px;
    }
  
    &:disabled {
      cursor: not-allowed;
      background-color: $light;
    }

    @each $name, $color in $colors {
      &--#{$name} {
        background-color: $color;
        transition: all 1s;
  
        &:hover:enabled {
          background-color: lighten($color: $color, $amount: 5);
          transition: all 0.2s;
        }
  
        &.neat-btn-raised--loading {
          transform: translateY(0.3em);
          background-color: darken($color: $color, $amount: 15);
          transition: all 0.5s;
  
          &:hover {
            background-color: darken($color: $color, $amount: 15);
          }
        }
      }
    }
}



.neat-btn-rounded {
  border-radius: 0.5em;

  & .neat-btn__icon--left {
    border-radius: 0.5em 0 0 0.5em;
  }

  & .neat-btn__icon--right {
    border-radius: 0 0.5em 0.5em 0;
  }
}
// "rounded" | "full-rounded" | "square" | "circle"

.neat-btn-full-rounded {
  border-radius: 2em;

  & .neat-btn__icon--left {
    border-radius: 2em 0 0 2em;
  }

  & .neat-btn__icon--right {
    border-radius: 0 2em 2em 0;
  }
}

.neat-btn-rectangle {
  border-radius: none;

  & .neat-btn__icon--left {
    border-radius: none;
  }

  & .neat-btn__icon--right {
    border-radius: none;
  }
}
