.neat-btn {
  position: relative;
  margin: 1rem;
  font-size: 1.8rem;
  padding: 0.5em 1.5em;
  outline: none;
  cursor: pointer;

  &__raised {
    color: $white;
    transition: all 0.2s;
    border-bottom: solid 0.2em rgba(0, 0, 0, 0.1);

    &:hover {
      transition: all 0.2s;
    }

    &:active {
      transform: translateY(0.2em);
      border-bottom: solid 0em rgba(0, 0, 0, 0);
      transition: all 0.2s;
    }

    @each $name, $color in $colors {
      // Raised Button loop for NColors
      &--#{$name} {
        background-color: $color;
        border-bottom: solid 0.2em darken($color: $color, $amount: 5);

        &:hover {
          background-color: lighten($color: $color, $amount: 5);
          transition: all 0.2s;
        }

        &:active {
          transform: translateY(0.2em);
          border-bottom: solid 0em darken($color: $color, $amount: 0);
        }
      }
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0);
  }
  &:focus:not(:active)::after {
    @include clickAnimation()
  }
}
